<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head.ejs') %>
  
<body>
  
 <%- include('./partials/nav.ejs') %>

 <%- include('./partials/welcome.ejs') %>

 <%- include('./partials/main.ejs') %>

  <div class="container">
    <%- include('./partials/organizations.ejs') %>
  </div>

  <%- include('./partials/footer.ejs') %>

</body>
</html>